//   ****************   GENERAL   ************************
.container{
    max-width: 1000;
    margin: 0 auto;
    padding: 0 auto;
}


//   ****************   HEADER   ************************



//   ****************   SECTION   ************************



//   ****************   FOOTER   ************************