//   ****************   GENERAL   ************************
.container{
    max-width: 1000;
    margin: 0 auto;
    padding: 0 auto;
}

img{
    height: 12rem;
    width: 12rem;
}

//   ****************   HEADER   ************************



//   ****************   SECTION   ************************

#divMaki{
    height: 100%;
}

//   ****************   FOOTER   ************************